/* Demo styles
   ------------------------------ */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeea;
  padding: 50px;
}

li {
  list-style-type: none;
}

.link {
  margin: 15rem auto 0 auto;
  padding: 1.25rem 1.5rem 1rem 1.5rem;
  border: 0;
  background-color: #01ade1;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;

  &:hover {
    background-color: black;
  }

  &:active {
    background-color: #555;
  }
}

#wrapper {
  padding: 4rem;
  background-color: #000;

  &.dark {
    background-color: #1e1d1d;
  }

  &.light {
    background-color: #fff;
  }
}

/* Logo variables
   ------------------------------ */
$logo-width: 12rem;
$logo-height: 2rem;

/* Colour filter classes for logos.
   Add to #brand container to use.
   The SVGs are #000.
   Colour filter generator @https://codepen.io/sosuke/pen/Pjoqqp.
   ------------------------------ */

// Filter to create #f9f9f9
.light-filter,
.light-filter a.light-filter::before,
.light-filter a.light-filter::after {
  filter: invert(100%) sepia(4%) saturate(444%) hue-rotate(244deg)
    brightness(114%) contrast(95%);
}

// Filter to create #1e1d1d
.dark-filter,
.dark-filter a::before,
.dark-filter a::after {
  filter: invert(0%) sepia(2%) saturate(6862%) hue-rotate(17deg) brightness(94%)
    contrast(77%);
}

/* Set up the logo states
   ------------------------------ */
#brand {
  // Create the initial logo state
  position: relative;
  width: $logo-width;
  height: $logo-height;
  background-image: url("svg/logo-header-1.svg");
  background-size: $logo-width $logo-height;
  background-repeat: no-repeat;

  a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: $logo-width;
    height: $logo-height;
  }

  a::before,
  a::after {
    // Set up the second & third logo states
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: $logo-width;
    height: $logo-height;
    background-size: $logo-width $logo-height;
    background-repeat: no-repeat;
    opacity: 0; // Hide this until the animation begins
    transition: opacity 0s; // Make visible immediately on mouseover
  }

  a::before {
    // Create the logo's second state
    background-image: url("svg/logo-header-2.svg");
  }

  a::after {
    // Create the logo's third state
    background-image: url("svg/logo-header-3.svg");
  }
}

/* Run the mouseover animation. 
   Check for body.touch.
   ------------------------------ */

body:not(.touch) {
  // First logo states wipes out
  #brand.active-brand {
    animation: wipeOut 0.1s 0.2s 1 steps(20, end) normal both;

    // Wipe in logo state 2
    a::before {
      animation: secondState 1.5s 0.2s 1 steps(40, end) normal both;
      opacity: 1;
    }

    // Wipe in logo state 3
    a::after {
      animation: thirdState 0.5s 1.75s 1 steps(40, end) normal both;
      opacity: 1;
    }
  }
}

/* Run the mouseout animation: wipe in the default logo.
   ------------------------------ */
body:not(.touch) {
  #brand.reset-brand {
    animation: wipeIn 0.4s 0s 1 steps(20, end) normal both;
  }
}

/* Keyframes
   ------------------------------ */

@keyframes wipeIn {
  0% {
    width: 0;
  }
  100% {
    width: $logo-width;
  }
}

@keyframes wipeOut {
  0% {
    width: $logo-width;
  }
  100% {
    width: 0;
  }
}

@keyframes secondState {
  0% {
    width: 0;
  }
  50% {
    width: $logo-width;
  }
  92% {
    width: $logo-width;
  }
  100% {
    width: 0;
  }
}

@keyframes thirdState {
  0% {
    width: 0;
  }
  100% {
    width: $logo-width;
  }
}
