/* Demo styles
   ------------------------------ */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeea;
  padding: 50px;
}

li {
  list-style-type: none;
}

.link {
  margin: 15rem auto 0 auto;
  padding: 1.25rem 1.5rem 1rem 1.5rem;
  border: 0;
  background-color: #01ade1;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
.link:hover {
  background-color: black;
}
.link:active {
  background-color: #555;
}

#wrapper {
  padding: 4rem;
  background-color: #000;
}
#wrapper.dark {
  background-color: #1e1d1d;
}
#wrapper.light {
  background-color: #fff;
}

/* Logo variables
   ------------------------------ */
/* Colour filter classes for logos.
   Add to #brand container to use.
   The SVGs are #000.
   Colour filter generator @https://codepen.io/sosuke/pen/Pjoqqp.
   ------------------------------ */
.light-filter,
.light-filter a.light-filter::before,
.light-filter a.light-filter::after {
  -webkit-filter: invert(100%) sepia(4%) saturate(544%) hue-rotate(331deg) brightness(117%) contrast(100%);
          filter: invert(100%) sepia(4%) saturate(544%) hue-rotate(331deg) brightness(117%) contrast(100%);
}

.dark-filter,
.dark-filter a::before,
.dark-filter a::after {
  -webkit-filter: invert(0%) sepia(2%) saturate(6862%) hue-rotate(17deg) brightness(94%) contrast(77%);
          filter: invert(0%) sepia(2%) saturate(6862%) hue-rotate(17deg) brightness(94%) contrast(77%);
}

/* Set up the logo states
   ------------------------------ */
#brand {
  position: relative;
  width: 12rem;
  height: 2rem;
  background-image: url("svg/logo-header-1.svg");
  background-size: 12rem 2rem;
  background-repeat: no-repeat;
}
#brand a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 12rem;
  height: 2rem;
}
#brand a::before,
#brand a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 12rem;
  height: 2rem;
  background-size: 12rem 2rem;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0s;
}
#brand a::before {
  background-image: url("svg/logo-header-2.svg");
}
#brand a::after {
  background-image: url("svg/logo-header-3.svg");
}

/* Run the mouseover animation. 
   Check for body.touch.
   ------------------------------ */
body:not(.touch) #brand.active-brand {
  -webkit-animation: wipeOut 0.1s 0.2s 1 steps(20, end) normal both;
          animation: wipeOut 0.1s 0.2s 1 steps(20, end) normal both;
}
body:not(.touch) #brand.active-brand a::before {
  -webkit-animation: secondState 1.5s 0.2s 1 steps(40, end) normal both;
          animation: secondState 1.5s 0.2s 1 steps(40, end) normal both;
  opacity: 1;
}
body:not(.touch) #brand.active-brand a::after {
  -webkit-animation: thirdState 0.5s 1.75s 1 steps(40, end) normal both;
          animation: thirdState 0.5s 1.75s 1 steps(40, end) normal both;
  opacity: 1;
}

/* Run the mouseout animation: wipe in the default logo.
   ------------------------------ */
body:not(.touch) #brand.reset-brand {
  -webkit-animation: wipeIn 0.4s 0s 1 steps(20, end) normal both;
          animation: wipeIn 0.4s 0s 1 steps(20, end) normal both;
}

/* Keyframes
   ------------------------------ */
@-webkit-keyframes wipeIn {
  0% {
    width: 0;
  }
  100% {
    width: 12rem;
  }
}
@keyframes wipeIn {
  0% {
    width: 0;
  }
  100% {
    width: 12rem;
  }
}
@-webkit-keyframes wipeOut {
  0% {
    width: 12rem;
  }
  100% {
    width: 0;
  }
}
@keyframes wipeOut {
  0% {
    width: 12rem;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes secondState {
  0% {
    width: 0;
  }
  50% {
    width: 12rem;
  }
  92% {
    width: 12rem;
  }
  100% {
    width: 0;
  }
}
@keyframes secondState {
  0% {
    width: 0;
  }
  50% {
    width: 12rem;
  }
  92% {
    width: 12rem;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes thirdState {
  0% {
    width: 0;
  }
  100% {
    width: 12rem;
  }
}
@keyframes thirdState {
  0% {
    width: 0;
  }
  100% {
    width: 12rem;
  }
}
